* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.container h2,
.contact-methods h3,
form button {
    font-family: 'lora';
    font-weight: normal;
}

body,
input,
textarea {
    font-family: 'lora', sans-serif;
}

header {

    padding: 16px 0;
    background-color: #e7268a;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;

}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;

}

#products {
    background-color: #e897c1;
    color:#fff;
}

.container {
    max-width: 930px;
    /*max-width: 1280px; */
    width: 100%;
    margin: 0 auto;
}

.container img {
    height: 300px;
}

header .container, 
#about .container,
#products .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about .container,
#products .container {
    align-items: flex-start;
}

#products .description {
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
}

#products .container{
    padding: 24px 0;
}

.texto {
    padding: 16px;
}

section {
 padding: 24px 0;
 color: #e7268a;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

.social-links li{
    display: inline;}

.social-links li a{
    text-decoration: none;
}

.social-links img {
    height:24px ;
}

#contact .container{
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

section h3{
    margin-bottom: 16px;
}

form button{
    background-color: #e7268a ;
    color: #fff;    
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #e897c1;
}

input:focus, textarea:focus{
    outline-color: #e7268a;
}



footer{
    padding: 16px 0;
    background-color: #e7268a;
    color: #ecf0f1;
    border: none;
    

}